.App {
  font-family: sans-serif;
  text-align: center;
}

.head {
  width: 90%;
  height: auto;
  margin: auto;
  background-color: lightblue;
}

.navbar {
  width: 100px;
  padding: 10px;
  background-color: gray;
  margin-left: auto;
}
