.App {
  font-family: sans-serif;
  text-align: center;
}

.head {
  width: 90%;
  height: auto;
  margin: auto;
  background-color: lightblue;
}

.navbar {
  width: 100px;
  padding: 10px;
  background-color: gray;
  margin-left: auto;
}

.main {
  color: yellow;
  background-color: slateblue;
  display: flex;
  width: 90%;
  margin: auto;
  height: 200px;
}

.board {
  width: 70%;
  height: 100%;
}

.side {
  flex: 2;
  background-color: blue;
}

.inventoryNav {
  margin-left: auto;
  height: 100px;
  background-color: lightblue;
}
